@import "src/styles/settings";

.navBar {
  height: 100%;
  width: 260px;
  background-color: #111418;
  z-index: 10;
  position: fixed;
  text-decoration: none;

  .imgLink {
    text-decoration: none;
  }

  .photo {
    height: 45vh;
    color: #ffffff;
    font-size: 13px;

    img {
      width: 150px;
      border-radius: 50%;
      border: $turquoise_color 10px solid;
      margin-top: 60px;
    }
  }

  .mobileMenuButton {
    display: none;
  }

  .links {
    height: 50vh;
    display: flex;
    flex-direction: column;

    .link {
      text-decoration: none;
      color: white;
      font-size: 18px;
      padding: 9px;
    }

    .activeLink {
      color: $turquoise_color;
    }

    :hover {
      color: #20c997;
    }
  }


  @media (max-width: 480px) {
    display: none;
  }

}