@import "src/styles/settings";

.footer {
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;

  .textFooter {
    margin-left: 260px;
  }

  @media (max-width: 480px) {
    width: 400px;
    height: 100px;
    padding-left: 40px;
  }

  .textFooter {
    font-size: 20px;

    @media (max-width: 480px) {
     font-size: 15px;
      margin: 0;
    }
  }
}