.App {
  text-align: center;
  display: flex;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 480px) {
  .App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
  }
}
